
.back{
    position: fixed;
    width:100vw;
    height: 100%;
    img{
        object-fit: cover;
        object-position: center;
        width:100%;
        height:100%;
        opacity: 0.6;
    }
}
.p{
    margin:0;
   
}
.me{
    float: right;
    right:0;
    top:0;
    width:50%;
    margin-left: 20px;
    margin-bottom: 20px;
}
.title{
    position:fixed;
    width:60vw;
    top:0;
    left:50%;
    transform: translateX(-30vw);
    background-color: hsl(78, 77%, 86%);
    font-family: "Noto Sans TC", sans-serif;
    font-size:40px;
    font-weight: 600;
    text-align: center;
    border:none;
    border-radius: 20px;
    box-shadow:3px 3px 3px rgba(0,0,0,0.2);
    z-index: 9999;
}

.container{
    position: absolute;
    display:flex;
    flex-direction: column;
    top:10%;
    left:50%;
    transform: translateX(-50%);
    
    border-radius: 20px;
    padding: 30px;
    width:50vw;
    height:auto;

}
.tag{
    font-family: "Noto Sans TC", sans-serif;
    font-size:24px;
    font-weight: 500;
    padding:10px;
    cursor: pointer;
    background-color: rgba(219, 241, 191,0.9)  ;
    text-align: left;
    margin: 10px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow:3px 3px 3px rgba(0,0,0,0.2);
    
    
}
.text{
    max-height:0;
    position: relative;
    font-family: "Noto Sans TC", sans-serif;
    font-size:22px;
    font-weight: 400;
    background-color: rgba(219, 252, 209,0.9);
    transition:  0.5s linear;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
    box-shadow:3px 3px 3px rgba(0,0,0,0.2);
    
}
.open{
    max-height:1000px;
    padding:10px;
    
}
@media (max-width:500px){
    .title{
    width:80vw;
    transform: translateX(-40vw);
    font-size: 32px;
    }
    .container{
       width:80vw; 
    }
    .tag{
        font-size: 20px;
    }
    .text{
        font-size: 18px;
    }
    .me{
        float:none;
        width:100%;
        margin-left: 0;
    }
}